body{
    background-color: #202124;
    color:#8DF20A;
    text-align: center;
}

.head{
    font-family: 'Lobster', cursive;
    font-size: 7.5rem;
    color: #F25F3A;
    margin: 20px 20px;
}
.player{
    width:20%;
    display: inline-block;  
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #2256F2;
    margin: 0 5%;
}
.footer{
    font-family: 'Bangers',cursive;
    font-size: 1.5rem;
}
button{
    font-family: 'Lobster', cursive;
    font-size: 1rem;
    background-color: #570A57;
    color: #F806CC;
    border-radius: 5px;
    padding: 5px;
    margin: 3% 4%;
}
@media screen and (max-width:520px) {
    .head{
        font-size: 4.5rem;
    }
    .player{
        font-size: 1.9rem;
        width: 150px;
        margin-bottom: 100px;
    }
    .diceimg1,.diceimg2{
        width: 100%;
    }
    button{
        margin: 5%;
        width:6rem;
        background-color: #570A57;
        color: #F806CC;
        border-radius: 5px;
        line-height: 1;
        padding: 5px;
    }
    .footer{
        font-size: 2rem;
    }
}